*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body{
	width: 80%;
	margin: 0 auto;
	background: #050506;
	color: white;
}

.title{
	text-align: center;
	padding: 20px;
}

.first{
	position: relative;
	margin-bottom: 20px;
}

.first img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.first h2{
	position: absolute;
	width: 100%;
	bottom: 50%;
	text-align: center;
}

.kiss{
	position: relative;
	margin-bottom: 20px;
}

.kiss img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.kiss h2{
	position: absolute;
	width: 100%;
	bottom: 50%;
	text-align: center;
}

.second{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.second img{
	width: 25%;
	height: 25%;
	object-fit: contain;
}

.second h2{
	padding-left: 20px;
}

.third{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}

.third img{
	width: 25%;
	height: 25%;
